{namespace fm=Visay\FootballManager\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{match}">
		<f:then>
			<h4><f:translate key="tx_footballmanager_domain_model_match.date" /> {match.date -> f:format.date()}</h4>
			<h4><f:translate key="tx_footballmanager_domain_model_match.location" /> {match.location.name}</h4>
			<table class="table">
				<thead>
					<tr>
						<th class="label label-success"><f:translate key="tx_footballmanager_domain_model_match.confirm" /> {confirmed}</th>
						<th class="label label-important"><f:translate key="tx_footballmanager_domain_model_match.decline" /> {declined}</th>
						<th class="label label-inverse"><f:translate key="tx_footballmanager_domain_model_match.pending" /> {pending}</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<f:form action="filter" id="player-filter">
								<f:form.select name="player" options="{players}" optionValueField="uid" optionLabelField="nickname" value="{activePlayer}" id="player-selected" />
							</f:form>
						</td>
						<td>
							<f:if condition="{confirmedResponse}">
								<f:then>
									<a href="#" role="button" class="btn btn-success btn-block disabled" data-toggle="modal">YES <i class="icon-thumbs-up"></i></a>
								</f:then>
								<f:else>
									<a href="#confirm-form" role="button" class="btn btn-success btn-block" data-toggle="modal">YES <i class="icon-thumbs-up"></i></a>
								</f:else>
							</f:if>

							<div id="confirm-form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirm-form-label" aria-hidden="true">
								<f:form action="confirm" arguments="{match: match, player: activePlayer}">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 id="confirm-form-label">Enter your code</h3>
									</div>
									<div class="modal-body">
											<f:form.textfield name="code" />
									</div>
									<div class="modal-footer">
										<f:form.submit class="btn btn-primary" value="Confirm" />
									</div>
								</f:form>
							</div>
						</td>
						<td>
							<f:if condition="{declinedResponse}">
								<f:then>
									<a href="#" role="button" class="btn btn-danger btn-block disabled" data-toggle="modal">NO <i class="icon-thumbs-down"></i></a>
								</f:then>
								<f:else>
									<a href="#decline-form" role="button" class="btn btn-danger btn-block" data-toggle="modal">NO <i class="icon-thumbs-down"></i></a>
								</f:else>
							</f:if>

							<div id="decline-form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="decline-form-label" aria-hidden="true">
								<f:form action="decline" arguments="{match: match, player: activePlayer}">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 id="decline-form-label">Enter your code</h3>
									</div>
									<div class="modal-body">
											<f:form.textfield name="code" />
									</div>
									<div class="modal-footer">
										<f:form.submit class="btn btn-primary" value="Confirm" />
									</div>
								</f:form>
							</div>
						</td>
					</tr>
					<f:if condition="{message}">
						<tr>
							<td colspan="3">
								<div class="alert alert-{messageType}">
									<strong>Error:</strong> {message}
								</div>
							</td>
						</tr>
					</f:if>
					<f:for each="{players}" as="player">
						<fm:rowColor match="{match}" player="{player}" />
							<f:if condition="{player.photo}">
								<f:then>
									<td><f:image class="img-circle" width="50c" height="50c" src="uploads/tx_footballmanager/{player.photo}" alt="{player.nickname}" /></td>
								</f:then>
								<f:else>
									<td><f:image class="img-circle" width="50c" height="50c" src="EXT:football_manager/Resources/Public/Images/dummy.jpg" alt="{player.nickname}" /></td>
								</f:else>
							</f:if>
							<td>{player.nickname}</td>
							<td><fm:iconType match="{match}" player="{player}" /></td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<f:translate key="tx_footballmanager_domain_model_match.empty" />
		</f:else>
	</f:if>
</f:section>