{namespace fm=Visay\FootballManager\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{match}">
		<f:then>
			<f:translate key="tx_footballmanager_domain_model_match.date" />
			<h4><f:format.date format="l, j F Y">{match.date}</f:format.date></h4>
			<f:translate key="tx_footballmanager_domain_model_match.time" />
			<h4><f:format.date format="h:i A">{match.date}</f:format.date> - <f:format.date format="h:i A">{match.endtime}</f:format.date></h4>
			<f:translate key="tx_footballmanager_domain_model_match.location" />
			<h4>
				{match.location.name}
				<f:if condition="{match.location.map}">
					<small>(<a href="<f:uri.image src='uploads/tx_footballmanager/{match.location.map}' />" target="_blank"><f:translate key="tx_footballmanager_domain_model_location.map" /></a>)</small>
				</f:if>
			</h4>
			<f:translate key="tx_footballmanager_domain_model_match.team" />
			<h4>{match.team.name}</h4>
			<table class="table">
				<thead>
					<tr>
						<th class="label label-success"><f:translate key="tx_footballmanager_domain_model_match.confirm" /> {confirmed}</th>
						<th class="label label-important"><f:translate key="tx_footballmanager_domain_model_match.decline" /> {declined}</th>
						<th class="label label-inverse"><f:translate key="tx_footballmanager_domain_model_match.pending" /> {pending}</th>
					</tr>
				</thead>
				<tbody>
					<tr><td colspan="3">
						<f:form action="filter" id="player-filter">
							<f:form.select name="player" options="{players}" optionValueField="uid" optionLabelField="nickname" prependOptionValue="0" prependOptionLabel="<f:translate key='tx_footballmanager_domain_model_match.select' />" id="player-selected" />
						</f:form>
					</td></tr>
					<f:if condition="{message}">
						<tr>
							<td colspan="3">
								<div class="alert alert-{messageType}">
									<strong>Thanks:</strong> {message}
								</div>
							</td>
						</tr>
					</f:if>
					<f:for each="{players}" as="player">
						<fm:rowColor match="{match}" player="{player}" />
							<f:if condition="{player.photo}">
								<f:then>
									<td><f:image class="img-circle" width="50c" height="50c" src="uploads/tx_footballmanager/{player.photo}" alt="{player.nickname}" /></td>
								</f:then>
								<f:else>
									<td><f:image class="img-circle" width="50c" height="50c" src="EXT:football_manager/Resources/Public/Images/dummy.jpg" alt="{player.nickname}" /></td>
								</f:else>
							</f:if>
							<td>{player.nickname}</td>
							<td><fm:iconType match="{match}" player="{player}" /></td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<f:translate key="tx_footballmanager_domain_model_match.empty" />
		</f:else>
	</f:if>
</f:section>