{namespace fm=Visay\FootballManager\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<f:if condition="{match}">
		<f:then>
			<h4><f:translate key="tx_footballmanager_domain_model_match.date" /> {match.date -> f:format.date()}</h4>
			<h4><f:translate key="tx_footballmanager_domain_model_match.location" /> {match.location.name}</h4>
			<table class="table">
				<thead>
					<tr>
						<th class="label label-success"><f:translate key="tx_footballmanager_domain_model_match.confirm" /> {confirmed}</th>
						<th class="label label-important"><f:translate key="tx_footballmanager_domain_model_match.decline" /> {declined}</th>
						<th class="label label-inverse"><f:translate key="tx_footballmanager_domain_model_match.pending" /> {pending}</th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{players}" as="player">
						<fm:rowColor match="{match}" player="{player}" />
							<f:if condition="{player.photo}">
								<f:then>
									<td><f:image class="img-circle" width="50c" height="50c" src="uploads/tx_footballmanager/{player.photo}" alt="{player.nickname}" /></td>
								</f:then>
								<f:else>
									<td><f:image class="img-circle" width="50c" height="50c" src="EXT:football_manager/Resources/Public/Images/dummy.jpg" alt="{player.nickname}" /></td>
								</f:else>
							</f:if>
							<td>{player.nickname}</td>
							<td><fm:iconType match="{match}" player="{player}" /></td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<f:translate key="tx_footballmanager_domain_model_match.empty" />
		</f:else>
	</f:if>
</f:section>